/BestSelection$1.class
/BestSelection.class
/BoltzmannSelection.class
/FirstSelection.class
/FitProportionateSelection.class
/GreedyOverselection$1.class
/GreedyOverselection.class
/MultiSelection.class
/RandomSelection.class
/SUSSelection.class
/SelectDefaults.class
/SigmaScalingSelection.class
/TournamentSelection.class
